body{
	background-image: url("./img/hang.jpg");
	padding-top: 10vh;
	text-align: center; 
    content-align: center;
    color:teal;
    font-family: cursive;
    
}

img{
	height: 300px;
	width: 300px;
}

h1{
    color: white;
    font-size: 60px;
    

}

p{
    color: white;
}
